@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Light.woff2') format('woff2'),
      url('./fonts/JetBrainsMono-Light.woff') format('woff'),
      url('./fonts/JetBrainsMono-Light.ttf') format('truetype'),
      url('./fonts/JetBrainsMono-Light.svg#JetBrainsMono-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Bold.woff2') format('woff2'),
      url('./fonts/JetBrainsMono-Bold.woff') format('woff'),
      url('./fonts/JetBrainsMono-Bold.ttf') format('truetype'),
      url('./fonts/JetBrainsMono-Bold.svg#JetBrainsMono-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-Regular.woff2') format('woff2'),
      url('./fonts/JetBrainsMono-Regular.woff') format('woff'),
      url('./fonts/JetBrainsMono-Regular.ttf') format('truetype'),
      url('./fonts/JetBrainsMono-Regular.svg#JetBrainsMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('./fonts/JetBrainsMono-ExtraBold.woff2') format('woff2'),
      url('./fonts/JetBrainsMono-ExtraBold.woff') format('woff'),
      url('./fonts/JetBrainsMono-ExtraBold.ttf') format('truetype'),
      url('./fonts/JetBrainsMono-ExtraBold.svg#JetBrainsMono-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 49px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  list-style-type: none;
}

input:focus, textarea:focus {
  outline: none;
}

a,
button {
  all: unset;
}

h1 {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  color: #fff;
  line-height: 75px;
}

h2 {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 600;
  font-size: 0.5rem;
  color: #fff;
}

h3 {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 500;
  font-size: 0.4rem;
  color: #fff;
}

h4 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 0.35rem;
  color: #fff;
}

h5 {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 100;
  font-size: 0.32rem;
  color: #fff;
}

p, label {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-size: 0.38rem;
  color: #fff;
}

li {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-size: 0.38rem;
  color: #fff;
  height: 27px;
}